In [122]:
import pandas as pd

In [124]:
df = pd.read_csv('Student_Behaviour_kor.csv')
df.head(1)

,자격증,성별,학과,신장(cm),몸무게(kg),10살 성적,12살 성적,대학성적,취미,공부시간,공부 시간대,희망연봉,학위만족도,학위기반 취업고려(%),미디어 이용시간,왕복통학시간,스트레스 지수,자산상황,아르바이트 여부
0,No,남자,BCA,100.0,58.0,79.0,65.0,80.0,비디오게임,~ 0.5,아침,40000,No,50,1.5 ~ 2,0.5 ~ 1,나쁨,나쁨,No

In [132]:
df['취미'].unique()

array(['비디오게임', '영화', '책읽기', '운동'], dtype=object)

In [131]:
df['스트레스 지수'].unique()

array(['나쁨', '매우나쁨', '좋음', '매우좋음'], dtype=object)

In [154]:
df2 = pd.read_csv('data/Student_Behaviour_kor.csv')
df2.head(1)

,자격증,성별,학과,신장(cm),몸무게(kg),10살 성적,12살 성적,대학성적,취미,공부시간,공부 시간대,희망연봉,학위만족도,학위기반 취업고려(%),미디어 이용시간,왕복통학시간,스트레스 지수,자산상황,아르바이트 여부
0,No,남자,BCA,100.0,58.0,79.0,65.0,80.0,비디오게임,~ 0.5,아침,40000,No,50,1.5 ~ 2,0.5 ~ 1,나쁨,나쁨,No

In [157]:
df2['공부 시간대'].unique()

array(['아침', '아무때나', '저녁'], dtype=object)

In [167]:
df.columns = ['자격증', '성별', '신장(cm)', '몸무게(kg)', '10살 성적', '12살 성적', '대학성적', '공부시간', '희망연봉', '학위만족도', '학위기반 취업고려(%)', '미디어 이용시간', '왕복통학시간', '스트레스 지수', '자산상황', '아르바이트 여부', 'B.com Accounting and Finance', 'B.com ISM', 'BCA', '영화', '책읽기', '운동', '아무때나', '아침']

In [ ]:
df.columns = ['자격증', '성별', '신장(cm)', '몸무게(kg)', '10살 성적', '12살 성적', '대학성적', '공부시간', '희망연봉', '학위만족도', '학위기반 취업고려(%)', '미디어 이용시간', '왕복통학시간', '스트레스 지수', '자산상황', '아르바이트 여부', 'B.com Accounting and Finance', 'B.com ISM', 'BCA', 'Commerce', 'Cinema', 'Reading books', 'Sports', 'Video Games', 'Anytime', 'Morning', 'Night']

In [98]:
df.head(1)

,자격증,성별,학과,신장(cm),몸무게(kg),10살 성적,12살 성적,대학성적,취미,공부시간,공부 시간대,희망연봉,학위만족도,학위기반 취업고려(%),미디어 이용시간,왕복통학시간,스트레스 지수,자산상황,아르바이트 여부
0,No,남자,BCA,100.0,58.0,79.0,65.0,80.0,비디오게임,0 - 30 minute,아침,40000,No,50,1.5 ~ 2,30 - 60 minutes,나쁨,나쁨,No

In [104]:
ans = '왕복통학시간'
print(df[ans].unique())
print(df[ans].nunique())

['30 - 60 minutes' '0 - 30 minutes' '1 - 1.30 hour' '2 - 2.30 hour'
 '1.30 - 2 hour' 'more than 3 hour' '2.30 - 3 hour']
7

In [105]:
for i, j in zip(df[ans].unique(), ['0.5 ~ 1', ' ~ 0.5', '1 ~ 1.5', '2 ~ 2.5', '1.5 ~ 2', '3 ~ ', '2.5 ~ 3']):
    df.loc[df[ans] == i, ans] = j

In [125]:
df

,자격증,성별,학과,신장(cm),몸무게(kg),10살 성적,12살 성적,대학성적,취미,공부시간,공부 시간대,희망연봉,학위만족도,학위기반 취업고려(%),미디어 이용시간,왕복통학시간,스트레스 지수,자산상황,아르바이트 여부
0,No,남자,BCA,100.0,58.0,79.0,65.0,80.0,비디오게임,~ 0.5,아침,40000,No,50,1.5 ~ 2,0.5 ~ 1,나쁨,나쁨,No
1,No,여자,BCA,90.0,40.0,70.0,80.0,70.0,영화,0.5 ~ 1,아침,15000,Yes,75,1 ~ 1.5,~ 0.5,나쁨,나쁨,No
2,Yes,남자,BCA,159.0,78.0,69.5,61.0,55.0,영화,1 ~ 2,아무때나,13000,Yes,50,2 ~,0.5 ~ 1,매우나쁨,나쁨,No
3,Yes,여자,BCA,147.0,20.0,70.0,59.0,58.0,책읽기,1 ~ 2,아무때나,1500000,No,50,1.5 ~ 2,~ 0.5,나쁨,좋음,No
4,No,남자,BCA,170.0,54.0,40.0,65.0,30.0,비디오게임,0.5 ~ 1,아침,50000,Yes,25,1.5 ~ 2,0.5 ~ 1,좋음,좋음,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,Yes,남자,B.com ISM,170.0,76.0,72.0,67.0,65.0,비디오게임,0.5 ~ 1,아침,7000,Yes,50,2 ~,0.5 ~ 1,나쁨,나쁨,No
230,Yes,남자,B.com ISM,172.0,52.0,72.0,70.0,76.0,영화,2 ~ 3,아무때나,25000,Yes,75,0.5 ~ 1,0.5 ~ 1,좋음,좋음,No
231,Yes,여자,BCA,139.0,33.0,90.0,75.0,70.0,영화,0.5 ~ 1,저녁,20000,Yes,50,0.5 ~ 1,2.5 ~ 3,나쁨,좋음,No
232,Yes,여자,Commerce,153.0,58.0,85.0,74.0,75.0,영화,~ 0.5,아무때나,20000,Yes,75,2 ~,2.5 ~ 3,매우나쁨,좋음,No
233,No,여자,B.com ISM,155.0,39.0,45.0,45.0,50.0,운동,3 ~ 4,저녁,10,No,75,0.5 ~ 1,2.5 ~ 3,매우좋음,좋음,No

In [169]:
df.to_csv('Student_Behaviour_kor3_1.csv', index=False)

In [170]:
df = pd.read_csv('data/Student_Behaviour_kor3.csv')

In [168]:
df

,자격증,성별,신장(cm),몸무게(kg),10살 성적,12살 성적,대학성적,공부시간,희망연봉,학위만족도,...,자산상황,아르바이트 여부,B.com Accounting and Finance,B.com ISM,BCA,영화,책읽기,운동,아무때나,아침
0,0,1,100.0,58.0,79.0,65.0,80.0,0,40000,0,...,1,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0,0,90.0,40.0,70.0,80.0,70.0,1,15000,1,...,1,0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
2,1,1,159.0,78.0,69.5,61.0,55.0,2,13000,1,...,1,0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
3,1,0,147.0,20.0,70.0,59.0,58.0,2,1500000,0,...,2,0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4,0,1,170.0,54.0,40.0,65.0,30.0,1,50000,1,...,2,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,1,1,170.0,76.0,72.0,67.0,65.0,1,7000,1,...,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
230,1,1,172.0,52.0,72.0,70.0,76.0,3,25000,1,...,2,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
231,1,0,139.0,33.0,90.0,75.0,70.0,1,20000,1,...,2,0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
232,1,0,153.0,58.0,85.0,74.0,75.0,0,20000,1,...,2,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
233,0,0,155.0,39.0,45.0,45.0,50.0,4,10,0,...,2,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [171]:
df.head(1)

,자격증,성별,신장(cm),몸무게(kg),10살 성적,12살 성적,대학성적,공부시간,희망연봉,학위만족도,...,B.com ISM,BCA,Commerce,영화,책읽기,운동,비디오게임,아무때나,아침,저녁
0,0,1,100.0,58.0,79.0,65.0,80.0,0,40000,0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [173]:
df.columns

Index(['자격증', '성별', '신장(cm)', '몸무게(kg)', '10살 성적', '12살 성적', '대학성적', '공부시간',
       '희망연봉', '학위만족도', '학위기반 취업고려(%)', '미디어 이용시간', '왕복통학시간', '스트레스 지수',
       '자산상황', '아르바이트 여부', 'B.com Accounting and Finance', 'B.com ISM', 'BCA',
       'Commerce', '영화', '책읽기', '운동', '비디오게임', '아무때나', '아침', '저녁'],
      dtype='object')

In [176]:
df.loc[:, 'B.com Accounting and Finance':].columns

Index(['B.com Accounting and Finance', 'B.com ISM', 'BCA', 'Commerce', '영화',
       '책읽기', '운동', '비디오게임', '아무때나', '아침', '저녁'],
      dtype='object')