In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('data/Student_Behaviour3_1.csv')
df.head(3)

,Certification Course,Gender,Height(CM),Weight(KG),10th Mark,12th Mark,college mark,daily studing time,salary expectation,Do you like your degree?,...,Financial Status,part-time job,B.com Accounting and Finance,B.com ISM,BCA,Cinema,Reading books,Sports,Anytime,Morning
0,0,1,100.0,58.0,79.0,65.0,80.0,0,40000,0,...,1,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0,0,90.0,40.0,70.0,80.0,70.0,1,15000,1,...,1,0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
2,1,1,159.0,78.0,69.5,61.0,55.0,2,13000,1,...,1,0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0

In [ ]:
# 1. X와 y 나누기
y = df['Car Purchase Amount'] # 멀티셀렉트로 컬럼 어떤거 선택힐지 정하고, 각각 값을 넣을 수 있도록 함.
X = df.loc[ : , 'Gender' : 'Net Worth']

# 2. 학습시킬 데이터와 테스트할 데이터를 나누기
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=50)

# 3. 학습시키기
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
# regressor.fit(X_train.values, y_train.values)

# 4. 예측한 값과 실제값을 비교하기
y_pred = regressor.predict(X_test)
((y_test - y_pred) **2).mean()

# 5. X가 아닌 다른 값으로 예측해보기.
new_data = np.array([1, 50, 40000, 50000, 200000])
new_data = new_data.reshape(1, 5) # 오류를 막기 위해 차원 변경.
regressor.predict(new_data)

# 6. 학습된 인공지능 파일 생성
import joblib
joblib.dump(regressor, 'regressor.pkl')